<h1>No content!</h1>

<%= link_to 'Generate menu', generate_menu_categories_path, remote: :true, style: 'color: white' %>
<%= link_to 'Download menu', download_menu_categories_path(format: :pdf), style: 'color: white'  %>