<h1>User info</h1>

Нужно <%= link_to 'подтвердить', send_confirm_email_users_path, method: :get, remote: true %> ваш email.

Получать квитанцию: <%= link_to 'Change', change_receipt_status_user_path(current_user), method: :patch, remote: true %>