<div class='github'>
  <%= link_to 'https://github.com/vladvovk2', style: 'text-decoration: none' do %>
    <div class="nav-icon">
      <%= semantic_icon('github icon') %>
    </div>

    <div class="content">
      GitHub
    </div>
  <% end %>
</div>