<div class="info">
  <section class="schedule">
    <p>Время работы:</p>
    <p>11:00 - 23:00</p>
    <p>Без выходных</p>
  </section>
  <section class="contacts">
    <p>Суши Черкассы, Грушевского, 24</p>
    <p>+38 (068) 234-24-43</p>
    <p>+38 (040) ‎633-65-32</p>
  </section>
</div>