<div class='empty-cart'>
  <% if current_cart.line_items.empty? %>
    <h3> Cart is empty</h3>
  <% end %>
</div>

<div class='cart'>
  <table>
    <%= render(current_cart.line_items.order(:created_at)) %>
  </table>

  <div class='cart-footer'>
    <div class='make-order'>
      <%= link_to new_order_path, style: 'text-decoration: none' do %>
        <%= semantic_icon('money bill alternate') %>
        Order
      <% end %>
    </div>
    <div class='total-price'>
      Total price:
      <%= number_to_currency  current_cart.total_price %>
    </div>
  </div>
</div>
