<div class='empty-cart'>
  <% if current_cart.line_items.empty? %>
    <h3> Cart is empty</h3>
  <% end %>
</div>

<div class='cart'>
  <table>
    <%= render(current_cart.line_items.order(:created_at)) %>
  </table>
</div>
