<% if @cart.line_items.empty? %>

<div class='empty-cart'>
  <h3> Cart is empty</h3>
</div>

<% else %>

<div id='cart'>
  <%= render @cart %>
</div>

<div id='buy-together'>
  <% @products.each do |product| %>
    <p class="buy-together-item">
      <%= product.title %>
    </p>
  <% end %>
</div>
<% end %>