<% if @cart.line_items.empty? %>

<div class='empty-cart'>
  <h3> Cart is empty</h3>
</div>

<% else %>

<div id='cart'>
  <%= render @cart %>
  <% @gifts.each do |line_item| %>
    <%= render 'line_items/gifts', line_item: line_item %>
  <% end %>
  <%= render 'carts/footer', cart: @cart %>
</div>

<div id='buy_together'>
  <% @products.each do |product| %>
    <%= product.title %>
  <% end %>
</div>
<% end %>