/*
 *= require_tree .
 *= require_self
*/

@import "semantic-ui";
@import "semantic-ui/collections/menu";

body {
  height: 100%;
  padding-bottom: 1em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;

  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}