* {
  margin: 0;
  padding: 0;
}
.burger h2 {
  text-align: center;
  color: #ffffff;
  text-shadow:
   0 0 2.5px #ffffff,
   0 0 5px #ffffff,
   0 0 10px #ac80a6,
   0 0 20px #ac80a6;
}
.burger-ingredients-item {
  display: flex;
  position: relative;
  justify-content: center;
  width: 700px;
  height: 110px;
  background-color: silver;

  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 80px;

  background-color: rgba(77, 77, 77, 0.705);
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #a19da1e3,
  0 0 10px #a19da1e3,
  0 0 15px #a19da1e3;
}
.ingredients-wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 90%;
  overflow: hidden;
}
.ingredients-sliders-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 100%;
  width: 630px;

}
.ingredient {
  position: relative;
  top: -18px;
  height: 100%;
  width: 50%;
  margin: 0 auto;

  & > * {
    display: block;
    text-align: center;
    padding: 3px;
  }

  & > img {
    margin: 0 auto;
  }

  .title-ingredient {
    color: #ffffff;
    text-shadow:
     0 0 2.5px #ffffff,
     0 0 5px #ffffff,
     0 0 10px #ac80a6,
     0 0 20px #ac80a6;
  }
  .price-ingredient {
    color: #ffffff;
    text-shadow:
     0 0 2.5px #ffffff,
     0 0 5px #ffffff,
     0 0 10px #ac80a6,
     0 0 20px #ac80a6;
  }
}
.ingredient-content-wrapper {
  display: inline-block;
  position: relative;
  left: 0;
  width: 25%;
  height: 100%;
  margin-right: -4px;

  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;

  & > input {
    visibility: hidden;
    position: relative;
  }
  & > label {
    visibility: hidden;
    position: relative;
  }
}
.create-burger-btn {
  text-align: center;

  & > input {
    margin: 0;
  }
}
.prev, .next {
  visibility: hidden;
  position: absolute;
  top: 35px;
  width: 30px;
  height: 30px;
  background-color: blue;

  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}