table {
  width: 800px;
  margin-top: 50px;
  margin-right: auto;
}

div.cart-footer {
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 4em;
  width: 750px;
  display: flex;
  justify-content: space-between;
}

div.make-order {
  font-size: 25px;
}

div.total-price {
  font-weight: bold;
  font-size: 18px;

}

td.one {
  width: 15%;
}

td.two {
  width: 30%;
}

td.three {
  width: 15%;
}

td.four {
  width: 30%;
}

td.five {
  width: 10%;
}