table {
  width: 800px;
  margin-top: 50px;
  margin-left: 200px;
}

td.one {
  width: 15%;
}

td.two {
  width: 30%;
}

td.three {
  width: 15%;
}

td.four {
  width: 30%;
}

td.five {
  width: 10%;
}