div.categories-list {
  list-style-type: none;
  padding-top: 3em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

div.categories-item-title {
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
  font-size: 20px;

  & > a {
    color: #ccc;
    text-shadow:
    0 0 1px #ccc,
    0 0 2px #ccc;
  }

  & > a.active {
    color: white;
    text-shadow:
    0 0 1px #ffffff,
    0 0 2px #ffffff;
  }
}

div.list, .list-l {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}