div {
  font-size: 18px;
}
div.nav-bar {
  position: fixed;
  top: 0;
  left: 8em;
  right: 8em;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  background-color: white;

  padding-top: 10px;
  padding-bottom: 2px;
}
.nav-bar div {
  position: relative;
  text-align: center;
}

.nav-bar div:hover {
  background-color: #C0C0C0;
  border-radius: 15px;
  z-index: 0;
}
.nav-bar .profile:hover {
  border-radius: 15px 15px 0 0;
}
.nav-bar .profile:hover .content {
  visibility: hidden;
}

.nav-bar a {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 65px;
  color: black;
}
.nav-bar a:hover {
  color: black;
  font-weight: 600;
}

i {
  //position: relative;
  color: black;
  // z-index: 0;
}
.nav-icon {
  margin-top: 15px;
}
.nav-bar i::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -9px;
  left: 21px;
  background-color: #DCDCDC;
  border-radius: 100%;
  z-index: -1;
}
//Added because all icons are aligned except 'Cart' 
.cart i::after {
  left: 22px;
}
.content {
  margin-top: 8px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  // align-items: center;
  justify-content: center;
  //border-top: 2px solid black;
  position: relative;
  transition: background 0.3s ease-in-out;
}

// .profile .sub-menu {
//   transform: rotateX(0deg);
// }
.profile:hover .sub-menu {
  transform: rotateX(0deg);
}

.sub-menu {
  position: absolute;
  top: 80%;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 0.3s linear;
  background-color: #C0C0C0;
  border-radius: 0 0 15px 15px;
}
.nav-menu-icon {
  margin-top: 20px;
}
