div {
  font-size: 18px;
}
div.nav-bar {
  position: fixed;
  top: 0;
  left: 8em;
  right: 8em;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  background-color: white;

  padding-top: 10px;
  padding-bottom: 2px;
}
.nav-bar div {
  position: relative;
  text-align: center;
  z-index: 0;
}

.nav-bar div:hover {
  background-color: #C0C0C0;
  border-radius: 15px;
}

.nav-bar a {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 65px;
  color: black;
}
.nav-bar a:hover {
  color: black;
  font-weight: 600;
}

i {
  color: black;
}
.nav-icon {
  margin-top: 15px;
}
.nav-bar i::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -9px;
  left: 21px;
  background-color: #DCDCDC;
  border-radius: 100%;
  z-index: -1;
}
//Added because all icons are aligned except 'Cart' 
.cart i::after {
  left: 22px;
}
.content {
  margin-top: 8px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease-in-out;
  background-color: #C0C0C0;
}

.profile:hover .sub-menu {
  transform: rotateX(0deg);
}
.nav-bar .profile {
  width: 60px;
  border-radius: 50% 50% 0 0;
}
.nav-bar .profile:hover {
  border-radius: 50% 50% 0 0;
}
.profile div {
  width: 60px;
}
.profile div:hover {
  background-color: transparent;
}
.profile a {
  width: 60px;
  margin-right: 0;
}

.sub-menu {
  position: absolute;
  top: 70%;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 0.3s linear;
}

.menu-item:last-child {
  border-radius: 0 0 50% 50%;
}
.nav-menu-icon {
  margin-top: 20px;
}
.profile i {
  position: relative;
  left: 2px;
}
.profile .nav-menu-icon i {
  top: 12px;
}
.profile i::after {
  left: -7px;
}

