div {
  font-size: 18px;
}
div.nav-bar {
  position: fixed;
  top: 0;
  left: 8em;
  right: 8em;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  background-color: transparent;
  border-radius: 0 0 10px 10px;
  padding-bottom: 2px;
  color: white;
}
.nav-bar div {
  position: relative;
  text-align: center;
  z-index: 0;
}

.nav-bar > div:hover {
  background-color: rgba(77, 77, 77, 0.705);
  border: 1px solid #ffffff;
  border-radius: 15px;
}

.nav-bar a {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 65px;
  color: black;

  &:hover {
    color: black;
  }
}

.nav-icon {
  margin-top: 15px;
}
.nav-bar i::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -9px;
  left: 21px;
  background-color: white;
  border-radius: 100%;
  z-index: -1;
  box-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #a19da1e3,
  0 0 10px #a19da1e3,
  0 0 15px #a19da1e3;
}
//Added because all icons are aligned except 'Cart' 
.cart i::after {
  left: 22px;
}
.content {
  margin-top: 8px;
  background-color: white;
  border-radius: 100%;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease-in-out;
  //background-color: #C0C0C0;
  background-color: rgba(77, 77, 77, 0.705);
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.profile:hover .sub-menu {
  transform: rotateX(0deg);
}
.nav-bar .profile {
  width: 60px;
  border-radius: 50% 50% 0 0;
}
.nav-bar .profile:hover {
  border-radius: 50% 50% 0 0;
  border-bottom: none;
}
.profile div {
  width: 60px;
}
.profile div:hover {
  background-color: transparent;
}
.profile a {
  top: 4px;
  height: 64px;
  width: 60px;
  margin-right: 0;
}

.sub-menu {
  position: absolute;
  top: 80%;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 0.3s linear;
  border-collapse: collapse;
}

.menu-item:last-child {
  border-radius: 0 0 50% 50%;
  border-bottom: 1px solid #ffffff;
}
.nav-menu-icon {
  margin-top: 20px;
}
.profile i {
  position: relative;
  left: 2px;
}
.profile .nav-menu-icon i {
  top: 2px;
}
.profile i::after {
  left: -7px;

  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.profile i:hover::after {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
