@mixin line-item-styles {
  background-color: rgba(77, 77, 77, 0.705);
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #a19da1e3,
  0 0 10px #a19da1e3,
  0 0 15px #a19da1e3;
}

@mixin text-style {
  color: white;
  font-weight: 2px;
  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff;
}

.line-item {
  height: 80px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;

  @include line-item-styles;

  -moz-transition: all 0.2s ease;;
  -o-transition: all 0.2s ease;;
  transition: all 0.2s ease;
}

.line-item:hover {
  box-shadow:
    1px 1px 1px 1px #a0a3a0f8;

  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}

.line-item-image {
  width: 15%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.line-item-title {
  width: 52%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;
}

.quantity-buttons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.quantity-buttons .quantity-buttons-left {
  font-size: 20px;
  margin-left: 10px;

  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;

  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.quantity-buttons-left:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.quantity-buttons .quantity-buttons-right {
  font-size: 20px;
  margin-right: 5px;

  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;

  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.quantity-buttons-right:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.quantity-buttons .line-item-quantity {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;
}

.line-item-total-price {
  width: 13%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;
}

.line-item-delete-item {
  width: 5%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6,
  0 0 10px #ac80a6;
}

.line-item-delete-item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#buy-together {
  position: fixed;
  right: 40px;
  top: 137px;
  bottom: 0;
  height: 100%;

  .suggested-product-icon {
    margin: auto auto;
    //clear: left;
    //height: 60%;
  }

  .col {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
  }

  .col:nth-child(2) {
    width: 75%; 
  }

  .suggested-title {
    margin: 4px 0 14px 0;

    @include text-style;
  }
}

.buy-together-item {
  height: 160px;
  width: 420px;
  margin-bottom: 15px;

  @include line-item-styles;

  // &:last-child {
  //   margin-bottom: 95px;
  // }

  

  .suggested-tabcontent {
    display: none;
    justify-content: space-between;

     height: 64px;
     width: 220px;
    // padding: 6px 12px;

    // border: none;
    // border-radius: 0 0 7px 7px;
  }

  .suggested-tabcontent > * {
    margin-top: 25px;
    margin-left: 5px;

    @include text-style;
  }
}

.suggested-tabs {
    //display: inline-block;
    display: flex;
    width: 230px;
    //overflow: hidden;
    border: none;

  .suggested-tablinks {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 5px 0;
    width: 33.33%;
    background-color: rgba(77, 77, 77, 0.342);
    flex-grow: 1;
    border: none;
    border: 1px solid #f1f1f1;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    text-align: center;
    border-radius: 7px;

    @include text-style;

    box-shadow:
    0 0 1px #ffffff,
    0 0 2px #a19da1e3;
  }  
}