#notification-messages {
  position: fixed;
  right: 10px;
  z-index: 3;
}

.notification-wrapper {
  float: right;
  clear: both;
  width: 270px;
  height: 70px;
  margin-bottom: 30px;
  border: 1px solid white;
  background-color: rgba(77, 77, 77, 0.705);
  border-radius: 5px;
  z-index: 4;

  box-shadow:
  0 0 1px rgb(0, 255, 55),
  0 0 2px rgb(0, 255, 55),
  0 0 5px rgb(0, 255, 55),
  0 0 10px rgb(0, 255, 55),
  0 0 15px rgb(0, 255, 55);

  text-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #ac80a6;
}

#notification-messages p {
  display: table-cell;
  width: 270px;
  height: 65px;
  line-height: 15px;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  padding: 0 5px;
}