div.order {
  display: flex;
  flex-flow: row;
  height: 500px;
  width: 100%;
  background-color: #F7F2F2;

  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow:
  0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 5px #a19da1e3,
  0 0 10px #a19da1e3,
  0 0 15px #a19da1e3,
  0 0 30px #888588e3;

  background-color: rgba(77, 77, 77, 0.609);
}

#map2 {
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  height: 420px;
}

div.image-order {
  font-size: 50px;
  text-align: center;
}

.name {
  padding-top: 50px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-evenly;
}
.name div * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.name-input {
  height: 35px;
  border-radius: 5px;
  border: 2px rgb(236, 240, 240) inset;
  background-color: rgba(77, 77, 77, 0.233);
}

section.dropdown {
  margin-bottom: 31px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.dropdown input {
  vertical-align: middle;
}

.number-promo-fields {
  width: 100%;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-evenly;

  .user-number-input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 2px rgb(236, 240, 240) inset;
    background-color: rgba(77, 77, 77, 0.233);
  }
}

.number-promo-fields div * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.promocode-block * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.promocode-input {
  height: 35px;
  border-radius: 5px;
  border: 2px rgb(236, 240, 240) inset;
  background-color: rgba(77, 77, 77, 0.233);
}
.pay-type {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.delivery-type {
  display: flex;
  flex-direction: row;
}
.delivery-type div,

.pay-type div {
  margin-left: 10px;
}

div.address {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
div.description {
  text-align: center;
  padding-bottom: 1em;

  .description-input {
    height: 150px;
    resize: none;
    border-radius: 5px;
    border: 2px rgb(236, 240, 240) inset;
    background-color: rgba(77, 77, 77, 0.233);
  }

}
div.order-button {
  text-align: center;
}
.user-information {
  width: 50%;
  border-right: 1px solid black;
}
.order-map {
  width: 50%;
}
