div.order {
  display: flex;
  flex-flow: row;
  height: 500px;
  width: 100%;
  background-color: #F7F2F2;
  border: 2px solid#848484;
  border-radius: 30px;
}
#map2 {
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  height: 420px;
}

div.image-order {
  font-size: 50px;
  text-align: center;
}

.name {
  padding-top: 50px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-evenly;
}
.name div * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

section.dropdown {
  margin-bottom: 31px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.dropdown input {
  vertical-align: middle;
}

.number-promo-fields {
  width: 100%;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-evenly;

  #user-number{
    width: 200px;
  }
}

.number-promo-fields div * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.promocode-block * {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.pay-type {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.delivery-type {
  display: flex;
  flex-direction: row;
}
.delivery-type div,

.pay-type div {
  margin-left: 10px;
}

div.address {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
div.description {
  text-align: center;
  padding-bottom: 1em;

  .description-input {
    width: 80%;
    height: 150px;
    resize: none;
  }

}
div.order-button {
  text-align: center;
}
.user-information {
  width: 50%;
  border-right: 1px solid black;
}
.order-map {
  width: 50%;
}
