/* Style the tab */
.tabs {
  // background-color: #c7c6c4;
  display: flex;
  overflow: hidden;
  border: none;
  // border-top: 1px solid black;
}

/* Style the buttons that are used to open the tab content */
.tabs .tablinks {
  background-color: #c7c6c4;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.tabs .tablinks:nth-child(2) {
  // border-left: 1px solid black;
  // border-right: 1px solid black;
}

/* Change background color of buttons on hover */
.tabs .tablinks:hover {
  background-color: #cacbcd;
}

/* Create an active/current tablink class */
.tabs .tablinks.active {
  background-color: #DCDCDC;
  border: 1px solid black;
  border-bottom: 1px solid #DCDCDC;
  // border-left: 1px solid black;
  // border-right: 1px solid black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  justify-content: space-between;
  background-color: #DCDCDC;
  height: 84px;
  width: 296px;
  padding: 6px 12px;
  border: none;
  border-radius: 0 0 15px 15px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tabcontent > * {
  margin-top: 25px;
  margin-left: 5px;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.product {
  width: 270px;
  height: 410px;
  border: 2px solid #848484;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-basis: 300px;
  flex-shrink: 0;
  margin: 20px;
}

.title {
  text-align: center;
  color: #848484;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.image {
  margin: 20px 0 20px 0;
  text-align: center;
}

.weight {
  text-align: center;
}
.add-to-cart-icon {
  font-size: 20px;
}