<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<div class='list'>
  <% @category.products.each do |product| %>
    <div class='product'>
      <div class='title'>
        <%= product.title %>
      </div>
      <div class='image'>
        <%= image_tag product.picture.image_name.url(:large) %>
      </div>
      <div id="tabs-content">
        <% if product.product_types.count != 1 %>
          <%= render 'product_types/multi_product_type', product: product %>
        <% else %>
          <%= render 'product_types/single_product_type', product: product %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>