<div class='list'>
  <% @category.products.each do |product| %>
    <div class='product'>
      <div class='title'>
        <%= product.title %>
      </div>
      <div class='image'>
        <%= image_tag product.picture.image_name.url(:large) %>
      </div>

      <div class="tabs">
        <button class="tablinks" onclick="openDetails(event, 'first-tab-content')">Prop 1</button>
        <button class="tablinks tab" onclick="openDetails(event, 'second-tab-content')">Prop 2</button>
        <button class="tablinks" onclick="openDetails(event, 'third-tab-content')">Prop 3</button>
      </div>

      <div id="first-tab-content" class="tabcontent">
        <div class="weight">200 грам</div>
        <div class="price">200$</div>
        <button class="add-to-cart"></button>
      </div>

      <div id="second-tab-content" class="tabcontent">
        <div class="weight">200 грам</div>
        <div class="price">200$</div>
        <button class="add-to-cart"></button>
      </div>

      <div id="third-tab-content" class="tabcontent">
        <div class="weight">200 грам</div>
        <div class="price">200$</div>
        <button class="add-to-cart"></button>
      </div>
    </div>
  <% end %>
</div>