<div class='list'>
  <% @category.products.each do |product| %>
    <div class='product'>
      <div class='title'>
        <%= product.title %>
      </div>
      <div class='weight'>
        <%= product.product_types.first.weight %> грам
      </div>
      <div class='image'>
        <%= image_tag product.picture.image_name.url(:large) %>
      </div>
      <div class='button'>
        <div class="ui animated fade button" tabindex="0">
          <div class="visible content">
            Add to cart
          </div>
          <div class="hidden content">
            <%= link_to "#{product.product_types.first.price} UA", add_product_cart_path(product.product_types.first.id), style: 'text-decoration: none' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>