<div class='gift-line-item-image'>
  <%= image_tag line_item.product_type.product.picture.image_name.url(:small) %>
</div>

<div class='gift-line-item-title'>
  <%= line_item.product_type.product.title %> is a gift for U!
</div>
