<% if line_item.product_type.product.published %>
  <div class='line-item'>
    <%= render 'line_items/published', line_item: line_item %>
  </div>
<% else %>
  <div class='unpublished-line-item'>
    <%= render 'line_items/unpublished', line_item: line_item %>
  </div>
<% end %>
